@layer components {
 .cards-grid {
    @apply max-w-7xl mx-auto px-4 sm:px-6 py-10 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6;
  }
  .card {
    background-color: var(--color-surface);
    @apply rounded-xl shadow-md p-6 transition duration-300;
  }

  .card:hover {
    @apply shadow-lg;
  }

  .card-title {
    @apply text-xl font-semibold mb-2;
  }

  .card-description {
    @apply text-sm opacity-80;
  }

}
