@layer components {

  .card {
    background-color: var(--color-surface);
    @apply rounded-xl shadow-md p-6 transition duration-300;
  }

  .card:hover {
    @apply shadow-lg;
  }

  .card-title {
    @apply text-xl font-semibold mb-2;
  }

  .card-description {
    @apply text-sm opacity-80;
  }

}
